body{
    height: 95vh;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.canvas-background{
    background-color: rgb(4, 255, 0);
    padding: 20px;
    border-radius: 20px;
}
.info-screen{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.337);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.info-screen>h1{
    font-size: 5rem;

}
.info-screen>button{
    background-color: aliceblue;
    font-size: 3rem;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px 15px;
}